<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hackastory Slotmachine</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link rel="stylesheet" href="css/slotmachine.css">
</head>
<body>

<div id="app">
    <team-select
        v-if="teams"
        v-bind:teams="teams"
        v-on:select="handleTeamSelect"
    ></team-select>
    <machine
            v-if="selectedTeam"
            v-bind:team="selectedTeam"></machine>
</div>

<script src="build/slotmachine.sfx.js"></script>
<script>
    new SlotMachine.default({
        el: '#app'
    });
</script>

</body>
</html>